.password-input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-input-container input {
  flex: 1;
  padding-right: 35px;
}

.toggle-eye-button {
  position: absolute;
  right: 8px;
  background: transparent;
  border: none;
  cursor: pointer;
}