.dashboard-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.dashboard-content {
  flex: 1;
  display: flex;
}

.dashboard-main {
  flex: 1;
  padding: 2rem;
  background-color: #f0f2f5;
  overflow-y: auto;
}
